@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:300,300i,400,400i,600,600i,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:300,300i,400,400i,600,600i,700&display=swap");
@import url(font-awesome.min.css);
.flex-center-start {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: start;
}
/* Fixed/sticky icon bar (vertically aligned 50% from the top of the screen) */
.icon-bar {
  position: fixed;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* Style the icon bar links */
.icon-bar a {
  display: block;
  text-align: center;
  padding: 16px;
  margin-left: 12px;
  color: white;
  border-radius:50%;
}

/* Style the social media icons with color, if you want */
.icon-bar a:hover {
  transform: scale(1.3);

}

.facebook {
  background: #3B5998;
  color: white;
}
.facebook:hover {
  background: #314343;
  color: white;
}

.twitter {
  background: #55ACEE;
  color: white;
}
.twitter:hover {
  background: #314343;
  color: white;
}

body {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: normal;
  font-style: normal;
}

.img {
  max-width: 100%;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

a,
.button {
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

a:focus,
.button:focus, button:focus {
  text-decoration: none;
  outline: none;
}

a:focus {
  color: #fff;
  text-decoration: none;
}

a:focus,
a:hover,
.portfolio-cat a:hover,
.footer -menu li a:hover {
  text-decoration: none;
  color: #000;
}

a,
button {
  color: #020c26;
  outline: medium none;
}

h1, h2, h3, h4, h5 {
  font-family: 'Josefin Sans', sans-serif;
  color: #000000;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: inherit;
}

ul {
  margin: 0px;
  padding: 0px;
}

li {
  list-style: none;
}

p {
  font-size: 16px;
  font-weight: 300;
  line-height: 30px;
  color: #777777;
  margin-bottom: 13px;
  font-family: 'Josefin Sans', sans-serif;
}

label {
  color: #7e7e7e;
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
}

*::-moz-selection {
  background: #444;
  color: #fff;
  text-shadow: none;
}

::-moz-selection {
  background: #444;
  color: #fff;
  text-shadow: none;
}

::selection {
  background: #444;
  color: #fff;
  text-shadow: none;
}

*::-webkit-input-placeholder {
  color: #cccccc;
  font-size: 14px;
  opacity: 1;
}

*:-ms-input-placeholder {
  color: #cccccc;
  font-size: 14px;
  opacity: 1;
}

*::-ms-input-placeholder {
  color: #cccccc;
  font-size: 14px;
  opacity: 1;
}

*::placeholder {
  color: #cccccc;
  font-size: 14px;
  opacity: 1;
}

h3 {
  font-size: 24px;
}

.overlay {
  position: relative;
  z-index: 0;
}

.overlay::before {
  position: absolute;
  content: "";
  background-color: #020c26;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.851;
}

.overlay2 {
  position: relative;
  z-index: 0;
}

.overlay2::before {
  position: absolute;
  content: "";
  background-color: #020c26;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.5;
}

.section-padding {
  padding-top: 120px;
  padding-bottom: 120px;
}

.pt-120 {
  padding-top: 120px;
}

/* button style */
.owl-carousel .owl-nav div {
  background: transparent;
  height: 65px;
  left: 0px;
  line-height: 65px;
  position: absolute;
  text-align: center;
  top: 50%;
 /* -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);*/
  /*-webkit-transition: all 0.3s ease 0s;*/
  /*-o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;*/
  width: 65px;
  font-size: 16px;
  color: #fff;
  border: 1px solid #363d4f;
}

#tilly-henry{
  color: #fff;
}

.owl-carousel .owl-nav {
  position: relative;
}

.owl-carousel .owl-nav div.owl-next {
  left: 86px;
  right: auto;
}

.owl-carousel .owl-nav div.owl-prev i {
  position: relative;
  right: 2px;
}

.owl-carousel:hover .owl-nav div {
  opacity: 1;
  visibility: visible;
}

.owl-carousel:hover .owl-nav div:hover {
  color: #ff5e13;
}

.mb-60 {
  margin-bottom: 60px;
}

.mb-70 {
  margin-bottom: 70px;
}

.boxed_btn {
  color: #000000;
  font-size: 15px;
  font-weight: 600;
  display: inline-block;
  padding: 18px 39px;
  border: 2px solid #78b454;
  text-transform: capitalize;
}

.boxed_btn:hover {
  background: #78b454;
  color: #fff;
}

.boxed-btn {
  color: #78b454 !important;
  font-size: 15px;
  font-weight: 600;
  display: inline-block;
  padding: 18px 39px;
  border: 2px solid #78b454;
  text-transform: capitalize;
  cursor: pointer;
  background: #fff;
}

.boxed-btn:hover {
  background: #78b454;
  color: #fff !important;
}

.boxed_btn_white {
  color: #fff;
  font-size: 15px;
  font-weight: 600;
  display: inline-block;
  padding: 16px 29px;
  border: 2px solid #fff;
  text-transform: capitalize;
}

@media (min-width: 992px) and (max-width: 1200px) {
  .boxed_btn_white {
    padding: 13px 13px;
  }
}

.boxed_btn_white:hover {
  background: #fff;
  color: #000;
}

.load_more_btn {
  background: #78b454;
  color: #fff;
  text-align: center;
  padding: 16px 41px;
  display: inline-block;
  border: 2px solid transparent;
  font-size: 15px;
  font-weight: 700;
}

.load_more_btn:hover {
  color: #78b454 !important;
  border: 2px solid #78b454;
  background: #fff;
}

.section_title h3 {
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
   background-color: #faf8f0;
   padding: 20px;
  border-radius: 12px;
  font-size: 60px;
  color: black;
  margin-bottom: 18px;
}

@media (max-width: 767px) {
  .section_title h3 {
    font-size: 58px;
    line-height: 46px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .section_title h3 {
    font-size: 48px;
    line-height: 56px;
  }
}

.section_title p {
    background-color: #faf8f0;
   padding: 20px;
  border-radius: 12px;
  font-size: 25px;
  font-weight: 300;
  color: black;
  margin-bottom: 0;
}

@media (min-width: 768px) and (max-width: 991px) {
  .section_title p br {
    display: none;
  }
}

.section_title.white h3, .section_title.white p {
  color: #fff;
}

.section-padding {
  padding-top: 150px;
  padding-bottom: 150px;
}

@media (max-width: 767px) {
  .section-padding {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .section-padding {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}


@media (max-width: 767px) {
  .mobile_menu {
    position: absolute;
    right: 0px;
    width: 100%;
    z-index: 9;
  }
}

.slicknav_menu .slicknav_nav {
  background: #fff;
  float: right;
  margin-top: 0;
  padding: 0;
  width: 95%;
  padding: 0;
  border-radius: 0px;
  margin-top: 5px;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 45px;
}

@media (min-width: 768px) and (max-width: 991px) {
  .slicknav_menu .slicknav_nav {
    padding: 10px;
  }
}

.slicknav_menu .slicknav_nav a:hover {
  background: transparent;
  color: #78b454;
}

.slicknav_menu .slicknav_nav a.active {
  color: #78b454;
}

@media (max-width: 767px) {
  .slicknav_menu .slicknav_nav a i {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .slicknav_menu .slicknav_nav a i {
    display: none;
  }
}

.slicknav_menu .slicknav_nav .slicknav_btn {
  background-color: transparent;
  cursor: pointer;
  margin-bottom: 10px;
  margin-top: -40px;
  position: relative;
  z-index: 99;
  border: 1px solid #ddd;
  top: 3px;
  right: 5px;
}

.slicknav_menu .slicknav_nav .slicknav_btn .slicknav_icon {
  margin-right: 6px;
  margin-top: 3px;
  position: relative;
  padding-bottom: 3px;
  top: -11px;
  right: -5px;
}

@media (max-width: 767px) {
  .slicknav_menu {
    margin-right: 12px;
  }
}

.home-6 .slicknav_menu .slicknav_icon {
  margin-right: 6px;
  margin-top: 3px;
  right: -5px;
  padding-bottom: 3px;
  position: absolute;
  top: 3px;
}

.slicknav_nav .slicknav_arrow {
  float: right;
  font-size: 22px;
  position: relative;
  top: -9px;
}

.header-area .mein_menu_list {

  color: #fff;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: space-between;
}

.header-area .logo-img-small {
  color: #fff;
  position: absolute;
  top: 0;
  left: 25px;
  z-index: 99999;
}


.header-area .logo-img-small img {
  width: 60px;
}

@media (max-width: 767px) {
  .header-area .main-header-area {
    padding: 10px 0;
    height: 60px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .header-area .main-header-area {
    padding: 10px 0;
    height: 60px;
  }
}

@media (max-width: 767px) {
  .header-area .main-header-area .logo-img {

    position: absolute;
    display: inline-block;
    text-align: center;
    margin: 3px auto;
    z-index: 999;
    width: 140px;
    left: 0;
    right: 0;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .header-area .main-header-area .logo-img {
    position: absolute;
    display: inline-block;
    text-align: center;
    margin: 3px auto;
    z-index: 999;
    width: 140px;
    left: 0;
    right: 0;
  }
}

.header-area .main-header-area .main-menu ul li {
  display: inline-block;
  position: relative;
}

.header-area .main-header-area .main-menu ul li a {
  color: #fff;
  font-size: 16px;
  text-transform: capitalize;
  font-weight: 400;
  display: inline-block;
  padding: 35px 10px 35px 10px;
  font-family: "Josefin Sans", sans-serif;
  position: relative;
}

@media (min-width: 992px) and (max-width: 1200px) {
  .header-area .main-header-area .main-menu ul li a {
    padding: 35px 8px 35px 8px;
  }
}

.header-area .main-header-area .main-menu ul li a i {
  font-size: 9px;
}

@media (max-width: 767px) {
  .header-area .main-header-area .main-menu ul li a i {
    display: none !important;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .header-area .main-header-area .main-menu ul li a i {
    display: none !important;
  }
}

.header-area .main-header-area .main-menu ul li a::before {
  position: absolute;
  content: "";
  background: #78b454;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  opacity: 0;
  transform: scaleX(0);
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.header-area .main-header-area .main-menu ul li a:hover::before {
  opacity: 1;
  transform: scaleX(1);
}

.header-area .main-header-area .main-menu ul li a.active::before {
  opacity: 1;
  transform: scaleX(1);
}

.header-area .main-header-area .main-menu ul li .submenu {
  position: absolute;
  left: 0;
  top: 140%;
  background: #fff;
  width: 200px;
  z-index: 2;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.02);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.6s;
  -moz-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s;
}

.header-area .main-header-area .main-menu ul li .submenu li {
  display: block;
}

.header-area .main-header-area .main-menu ul li .submenu li a {
  padding: 10px 15px;
  position: inherit;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  display: block;
  color: #000;
}

.header-area .main-header-area .main-menu ul li .submenu li a::before {
  display: none;
}

.header-area .main-header-area .main-menu ul li .submenu li:hover a {
  color: #78b454;
}

.header-area .main-header-area .main-menu ul li:hover > .submenu {
  opacity: 1;
  visibility: visible;
  top: 100%;
}

.header-area .main-header-area .main-menu ul li:hover > a::before {
  opacity: 1;
  transform: scaleX(1);
}

.header-area .main-header-area .slicknav_icon-bar {
  background: #fff !important;
}

.header-area .main-header-area.sticky {
  box-shadow: 0px 3px 16px 0px rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 100%;
  top: -70px;
  left: 0;
  right: 0;
  z-index: 9999;
  transform: translateY(70px);
  transition: transform 500ms ease, background 500ms ease;
  -webkit-transition: transform 500ms ease, background 500ms ease;
  box-shadow: 0px 3px 16px 0px rgba(0, 0, 0, 0.1);
  background: #fff;
}

.header-area .main-header-area.sticky .slicknav_icon-bar {
  background: #000 !important;
}

.header-area .main-header-area.sticky .boxed_btn_white {
  color: #000;
  font-size: 15px;
  font-weight: 600;
  display: block;
  border: 2px solid #000;
  justify-content: center;
  align-items: center;
}

.header-area .main-header-area.sticky .boxed_btn_white:hover {
  background: #000;
  color: #fff;
}

@media (min-width: 992px) and (max-width: 1200px) {
  .header-area .main-header-area.sticky .boxed_btn_white {
    padding: 13px 13px;
  }
}

.header-area .main-header-area.sticky .logo-img {
  display: inline-block;
}

.header-area .main-header-area.sticky .logo-img img {
  width: 80px;
}

.header-area .main-header-area.sticky .main-menu ul li {
  display: inline-block;
  position: relative;
}

.header-area .main-header-area.sticky .main-menu ul li a {
  color: #000;
  font-size: 16px;
  text-transform: capitalize;
  font-weight: 400;
  display: inline-block;
  padding: 35px 10px 35px 10px;
  font-family: "Josefin Sans", sans-serif;
  position: relative;
}

@media (min-width: 992px) and (max-width: 1200px) {
  .header-area .main-header-area.sticky .main-menu ul li a {
    padding: 35px 8px 35px 8px;
  }
}

.header-area .main-header-area.sticky .main-menu ul li a i {
  font-size: 9px;
}

@media (max-width: 767px) {
  .header-area .main-header-area.sticky .main-menu ul li a i {
    display: none !important;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .header-area .main-header-area.sticky .main-menu ul li a i {
    display: none !important;
  }
}

.header-area .main-header-area.sticky .main-menu ul li a::before {
  position: absolute;
  content: "";
  background: #78b454;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  opacity: 0;
  transform: scaleX(0);
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.header-area .main-header-area.sticky .main-menu ul li a:hover::before {
  opacity: 1;
  transform: scaleX(1);
}

.header-area .main-header-area.sticky .main-menu ul li a.active::before {
  opacity: 1;
  transform: scaleX(1);
}

.header-area .main-header-area.sticky .main-menu ul li .submenu {
  position: absolute;
  left: 0;
  top: 140%;
  background: #fff;
  width: 200px;
  z-index: 2;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.02);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.6s;
  -moz-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s;
}

.header-area .main-header-area.sticky .main-menu ul li .submenu li {
  display: block;
}

.header-area .main-header-area.sticky .main-menu ul li .submenu li a {
  padding: 10px 15px;
  position: inherit;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  display: block;
  color: #000;
}

.header-area .main-header-area.sticky .main-menu ul li .submenu li a::before {
  display: none;
}

.header-area .main-header-area.sticky .main-menu ul li .submenu li:hover a {
  color: #78b454;
}

.header-area .main-header-area.sticky .main-menu ul li:hover > .submenu {
  opacity: 1;
  visibility: visible;
  top: 100%;
}

.header-area .main-header-area.sticky .main-menu ul li:hover > a::before {
  opacity: 1;
  transform: scaleX(1);
}

.logo-img {
  display: inline-block;
}

.header-area {
  /*background-color: #9f9782;*/
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 99;
}

.slider_area {
  position: relative;
}

.slider_area .single_slider {
  background-size: cover;
  background-position: center;
  height: 1080px;
  display: table;
  width: 100%;
  background-size: cover;
  background-position: bottom;
}

@media (max-width: 767px) {
  .slider_area .single_slider {
    height: 580px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .slider_area .single_slider {
    height: 680px;
  }
}

.slider_area .single_slider .single_slider-iner {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.slider_area .single_slider .slider_contant {
  background: #fff;
  display: inline-block;
  padding: 80px 127px 70px 127px;
  border-radius: 10px;
}

@media (max-width: 767px) {
  .slider_area .single_slider .slider_contant {
    padding: 30px 20px;
    margin: 0 20px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .slider_area .single_slider .slider_contant {
    padding: 40px 30px;
    margin: 0 20px;
  }
}

@media (max-width: 767px) {
  .slider_area .single_slider .slider_contant br {
    display: none;
  }
}

.slider_area .single_slider .slider_contant h3 {
  font-size: 60px;
  font-weight: 700;
  line-height: 66px;
  margin-bottom: 26px;
}

@media (max-width: 767px) {
  .slider_area .single_slider .slider_contant h3 {
    font-size: 30px;
    line-height: 36px;
  }
}

.slider_area .single_slider .slider_contant p {
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 0;
}

.slider_img_1 {
  background-image: url(../img/bg.jpg);
}

.banner-3 {
  background-image: url(../img/bread/9.jpg);
}


.order_area {
  padding-top: 150px;
  padding-bottom: 90px;
}

@media (max-width: 767px) {
  .order_area {
    padding-top: 60px;
    padding-bottom: 0px;
  }
}

.order_area .single_order {
  margin-bottom: 60px;
}

.order_area .single_order .order_thumb {
  position: relative;
}

.order_area .single_order .order_thumb img {
  width: 100%;
}

.order_area .single_order .order_thumb .order_prise {
  position: absolute;
  right: 10px;
  bottom: 10px;
  background: #fff;
  color: #78b454;
  padding: 17px 21px 13px 24px;
  border-radius: 5px;
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 0;
  line-height: 18px;
}

.order_area .single_order .order_thumb .order_prise span {
  position: relative;
}

.order_area .single_order .order_thumb .order_prise span::before {
  position: absolute;
  content: "£";
  left: -15px;
  color: #78b454;
  font-size: 15px;
}

.order_area .single_order .order_info h3 a {
  font-size: 24px;
  color: #000;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 600;
  display: block;
  margin-top: 38px;
  margin-bottom: 16px;
}

.order_area .single_order .order_info p {
  font-size: 16px;
  line-height: 28px;
  color: #777777;
  margin-bottom: 0;
  margin-bottom: 30px;
}


.testmonial_area {
  padding-top: 150px;
  padding-bottom: 210px;
  background-size: cover;
  background-position: center;
}

@media (max-width: 767px) {
  .testmonial_area {
    padding-top: 60px;
    padding-bottom: 160px;
  }
}

.testmonial_area .single_testmonial {
  background: #fff;
  padding: 50px 50px 46px 40px;
  border-radius: 10px;
  background: #fff;
}

@media (max-width: 767px) {
  .testmonial_area .single_testmonial {
    display: block !important;
  }
}

.testmonial_area .single_testmonial .testmonial_thumb {
  margin-right: 25px;
}

@media (max-width: 767px) {
  .testmonial_area .single_testmonial .testmonial_thumb {
    margin-bottom: 30px;
  }
}

.testmonial_area .single_testmonial img {
  width: auto;
}

.testmonial_area .single_testmonial .testmonial_author h3 {
  font-size: 18px;
  color: #000000;
  font-weight: 600;
  margin-bottom: 5px;
}

.testmonial_area .single_testmonial .testmonial_author span {
  font-size: 14px;
  color: #777777;
  display: block;
  font-weight: 300;
  margin-bottom: 18px;
}

.testmonial_area .single_testmonial .testmonial_author p {
  font-size: 16px;
  line-height: 28px;
  color: #777777;
  margin-bottom: 0;
}

.testmonial_area .testmonial_active .owl-dots {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -72px;
}

.testmonial_area .testmonial_active .owl-dots .owl-dot {
  width: 20px;
  height: 4px;
  background: #ddd;
  border-radius: 5px;
  margin: 0 5px;
  display: inline-block;
}

.testmonial_area .testmonial_active .owl-dots .owl-dot.active {
  background: #78b454;
}

#accordion button {
  font-size: 16px;
  font-size: 24px;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  color: #ff5e13;
}

@media (max-width: 767px) {
  #accordion button {
    font-size: 14px;
  }
}

#accordion .card {
  margin-bottom: 15px;
  border-radius: 0;
  border: 0 !important;
}

#accordion .card .card-header {
  background-color: transparent;
  padding: 4px 14px;
  border: 0 !important;
}

@media (max-width: 767px) {
  #accordion .card .card-header {
    padding: 4px 0;
  }
}


b,
sup,
sub,
u,
del {
  color: #ff5e13;
}

h1 {
  font-size: 36px;
  color: black;
  background-color: white;
  border-radius: 12px;
  padding: 8px;
}

h2 {
  font-size: 30px;

}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 16px;
}

h6 {
  font-size: 14px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2em;
}

.typography h1,
.typography h2,
.typography h3,
.typography h4,
.typography h5,
.typography h6 {
  color: #828bb2;
}

.button-area {
  background: #fff;
}

.button-area .border-top-generic {
  padding: 70px 15px;
  border-top: 1px dotted #eee;
}

.button-group-area .genric-btn {
  margin-right: 10px;
  margin-top: 10px;
}

.button-group-area .genric-btn:last-child {
  margin-right: 0;
}


.list-style {
  width: 14px;
  height: 14px;
}

.unordered-list li {
  position: relative;
  padding-left: 30px;
  line-height: 1.82em !important;
}

.unordered-list li:before {
  content: "";
  position: absolute;
  width: 14px;
  height: 14px;
  border: 3px solid #ff5e13;
  background: #fff;
  top: 4px;
  left: 0;
  border-radius: 50%;
}

.ordered-list {
  margin-left: 30px;
}

.ordered-list li {
  list-style-type: decimal-leading-zero;
  color: #ff5e13;
  font-weight: 500;
  line-height: 1.82em !important;
}

.ordered-list li span {
  font-weight: 300;
  color: #828bb2;
}

.ordered-list-alpha li {
  margin-left: 30px;
  list-style-type: lower-alpha;
  color: #ff5e13;
  font-weight: 500;
  line-height: 1.82em !important;
}

.ordered-list-alpha li span {
  font-weight: 300;
  color: #828bb2;
}

.ordered-list-roman li {
  margin-left: 30px;
  list-style-type: lower-roman;
  color: #ff5e13;
  font-weight: 500;
  line-height: 1.82em !important;
}

.ordered-list-roman li span {
  font-weight: 300;
  color: #828bb2;
}



/* Footer */

  #footer {
    background-color: #ebdca8;
    color: #ebdca8;
    padding: 6em 0 4em 0;
    background: #5d5244;
  }

    #footer input, #footer select, #footer textarea {
      color: #eaeae0;
    }

    #footer a {
      color: #eaeae0;
    }

    #footer strong, #footer b {
      color: #eaeae0;
    }

    #footer h1, #footer h2, #footer h3, #footer h4, #footer h5, #footer h6 {
      color: #eaeae0;
    }

    #footer blockquote {
      border-left-color: #eaeae0;
    }

    #footer code {
      background: #eaeae0;
      border-color: #eaeae0;
    }

    #footer hr {
      border-bottom-color: rgba(255, 255, 255, 0.25);
    }

    #footer input[type="submit"],
    #footer input[type="reset"],
    #footer input[type="button"],
    #footer button,
    #footer .button {
      background-color: #eaeae0;
      color: #eaeae0 !important;
    }

      #footer input[type="submit"]:hover,
      #footer input[type="reset"]:hover,
      #footer input[type="button"]:hover,
      #footer button:hover,
      #footer .button:hover {
        background-color: #676767;
      }

      #footer input[type="submit"]:active,
      #footer input[type="reset"]:active,
      #footer input[type="button"]:active,
      #footer button:active,
      #footer .button:active {
        background-color: #4d4d4d;
      }

      #footer input[type="submit"].alt,
      #footer input[type="reset"].alt,
      #footer input[type="button"].alt,
      #footer button.alt,
      #footer .button.alt {
        justify-content: center;
        background-color: #382c12;
        box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0.25);
        color: #ffffff !important;
      }

        #footer input[type="submit"].alt:hover,
        #footer input[type="reset"].alt:hover,
        #footer input[type="button"].alt:hover,
        #footer button.alt:hover,
        #footer .button.alt:hover {
          background-color: rgba(255, 255, 255, 0.075);
        }

        #footer input[type="submit"].alt:active,
        #footer input[type="reset"].alt:active,
        #footer input[type="button"].alt:active,
        #footer button.alt:active,
        #footer .button.alt:active {
          background-color: #eaeae0;
        }

        #footer input[type="submit"].alt.icon:before,
        #footer input[type="reset"].alt.icon:before,
        #footer input[type="button"].alt.icon:before,
        #footer button.alt.icon:before,
        #footer .button.alt.icon:before {
          color: #eaeae0;
        }

      #footer input[type="submit"].special,
      #footer input[type="reset"].special,
      #footer input[type="button"].special,
      #footer button.special,
      #footer .button.special {
        background-color: #eaeae0;
        color: #eaeae0 !important;
      }

    #footer label {
      font-size: 20px;
      color: #eaeae0;
    }

    #footer input[type="text"],
    #footer input[type="password"],
    #footer input[type="email"],
    #footer select,
    #footer textarea {
      background: rgba(255, 255, 255, 0.075);
      border-color: rgba(255, 255, 255, 0.25);
    }

      #footer input[type="text"]:focus,
      #footer input[type="password"]:focus,
      #footer input[type="email"]:focus,
      #footer select:focus,
      #footer textarea:focus {
        border-color: #ffffff;
        box-shadow: 0 0 0 1px #ffffff;
      }

    #footer .select-wrapper:before {
      color: rgba(255, 255, 255, 0.25);
    }

    #footer input[type="checkbox"] + label,
    #footer input[type="radio"] + label {
      color: #fdd1d1;
    }

      #footer input[type="checkbox"] + label:before,
      #footer input[type="radio"] + label:before {
        background: rgba(255, 255, 255, 0.075);
        border-color: rgba(255, 255, 255, 0.25);
      }

    #footer input[type="checkbox"]:checked + label:before,
    #footer input[type="radio"]:checked + label:before {
      background-color: #ffffff;
      border-color: #ffffff;
      color: #F64747;
    }

    #footer input[type="checkbox"]:focus + label:before,
    #footer input[type="radio"]:focus + label:before {
      border-color: #ffffff;
      box-shadow: 0 0 0 1px #ffffff;
    }

    #footer ::-webkit-input-placeholder {
      color: #fbb5b5 !important;
    }

    #footer :-moz-placeholder {
      color: #fbb5b5 !important;
    }

    #footer ::-moz-placeholder {
      color: #fbb5b5 !important;
    }

    #footer :-ms-input-placeholder {
      color: #fbb5b5 !important;
    }

    #footer .formerize-placeholder {
      color: #fbb5b5 !important;
    }

    #footer ul.alt li {
      border-top-color: rgba(255, 255, 255, 0.25);
    }

    #footer header p {
      color: #fbb5b5;
    }

    #footer table tbody tr {
      border-color: rgba(255, 255, 255, 0.25);
    }

      #footer table tbody tr:nth-child(2n + 1) {
        background-color: rgba(255, 255, 255, 0.075);
      }

    #footer table th {
      color: #ffffff;
    }

    #footer table thead {
      border-bottom-color: rgba(255, 255, 255, 0.25);
    }

    #footer table tfoot {
      border-top-color: rgba(255, 255, 255, 0.25);
    }

    #footer table.alt tbody tr td {
      border-color: rgba(255, 255, 255, 0.25);
    }

    #footer .inner {
      margin: 0 auto;
    }

    #footer h2 {
      margin-bottom: 2em;
      text-align: center;
    }

    #footer .icons {
      text-align: center;
      padding-top: 1em;
    }

    #footer .copyright {
      color: rgba(255, 255, 255, 0.5);
      font-size: 0.8em;
      margin: 0 0 2em 0;
      padding: 0;
      text-align: center;
    }

    #footer .icon.round {
      display: block;
      background: rgba(255, 255, 255, 0.15);
      border-radius: 100%;
      height: 4em;
      width: 4em;
      line-height: 4em;
      color: #FFF;
    }

      #footer .icon.round:hover {
        color: rgba(255, 255, 255, 0.25);
        background: none;
        box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.25);
      }

    @media screen and (max-width: 736px) {

      #footer {
        padding: 3em 0 1em 0;
      }

    }
    /* List */

  ol {
    list-style: decimal;
    margin: 0 0 2em 0;
    padding-left: 1.25em;
  }

    ol li {
      padding-left: 0.25em;
    }

  ul {
    list-style: disc;
    margin: 0 0 2em 0;
    padding-left: 1em;
  }

    ul li {
      padding-left: 0.5em;
    }

    ul.alt {
      list-style: none;
      padding-left: 0;
    }

      ul.alt li {
        border-top: solid 1px;
        padding: 0.5em 0;
      }

        ul.alt li:first-child {
          border-top: 0;
          padding-top: 0;
        }

    ul.icons {
      cursor: default;
      list-style: none;
      padding-left: 0;
    }

      ul.icons li {
        display: inline-block;
        padding: 0 1em 0 0;
      }

        ul.icons li:last-child {
          padding-right: 0;
        }

        ul.icons li .icon:before {
          font-size: 2em;
        }

    ul.actions {
      cursor: default;
      list-style: none;
      padding-left: 0;
    }

      ul.actions li {
        display: inline-block;
        padding: 0 1em 0 0;
        vertical-align: middle;
      }

        ul.actions li:last-child {
          padding-right: 0;
        }

      ul.actions.small li {
        padding: 0 0.5em 0 0;
      }

      ul.actions.vertical li {
        display: block;
        padding: 1em 0 0 0;
      }

        ul.actions.vertical li:first-child {
          padding-top: 0;
        }

        ul.actions.vertical li > * {
          margin-bottom: 0;
        }

      ul.actions.vertical.small li {
        padding: 0.5em 0 0 0;
      }

        ul.actions.vertical.small li:first-child {
          padding-top: 0;
        }

      ul.actions.fit {
        display: table;
        margin-left: -1em;
        padding: 0;
        table-layout: fixed;
        width: calc(100% + 1em);
      }

        ul.actions.fit li {
          display: table-cell;
          padding: 0 0 0 1em;
        }

          ul.actions.fit li > * {
            margin-bottom: 0;
          }

        ul.actions.fit.small {
          margin-left: -0.5em;
          width: calc(100% + 0.5em);
        }

          ul.actions.fit.small li {
            padding: 0 0 0 0.5em;
          }

      @media screen and (max-width: 480px) {

        ul.actions {
          margin: 0 0 2em 0;
        }

          ul.actions li {
            padding: 1em 0 0 0;
            display: block;
            text-align: center;
            width: 100%;
          }

            ul.actions li:first-child {
              padding-top: 0;
            }

            ul.actions li > * {
              width: 100%;
              margin: 0 !important;
            }

              ul.actions li > *.icon:before {
                margin-left: -2em;
              }

          ul.actions.small li {
            padding: 0.5em 0 0 0;
          }

            ul.actions.small li:first-child {
              padding-top: 0;
            }

      }

  dl {
    margin: 0 0 2em 0;
  }

    dl dt {
      display: block;
      font-weight: 600;
      margin: 0 0 1em 0;
    }

    dl dd {
      margin-left: 2em;
    }

  ul.alt li {
    border-top-color: rgba(144, 144, 144, 0.25);
  }

/* Form */

  form {
    margin: 0 0 2em 0;
  }

    form .field {
      margin-bottom: 1.5em;
    }

      form .field.half {
        display: inline-block;
        width: 48%;
      }

        form .field.half.first {
          margin-right: 3%;
        }

    @media screen and (max-width: 980px) {

      form .field.half {
        display: block;
        width: 100%;
      }

        form .field.half.first {
          margin-right: 0;
        }

    }

  label {
    display: block;
    font-size: 0.9em;
    font-weight: 300;
    margin: 0 0 1em 0;
  }

  input[type="text"],
  input[type="password"],
  input[type="email"],
  select,
  textarea {
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    appearance: none;
    border-radius: 4px;
    border: none;
    border: solid 1px;
    color: inherit;
    display: block;
    outline: 0;
    padding: 0 1em;
    text-decoration: none;
    width: 100%;
  }

    input[type="text"]:invalid,
    input[type="password"]:invalid,
    input[type="email"]:invalid,
    select:invalid,
    textarea:invalid {
      box-shadow: none;
    }

  .select-wrapper {
    text-decoration: none;
    display: block;
    position: relative;
  }

    .select-wrapper:before {
      -moz-osx-font-smoothing: grayscale;
      -webkit-font-smoothing: antialiased;
      font-family: FontAwesome;
      font-style: normal;
      font-weight: normal;
      text-transform: none !important;
    }

    .select-wrapper:before {
      content: '\f078';
      display: block;
      height: 2.75em;
      line-height: 2.75em;
      pointer-events: none;
      position: absolute;
      right: 0;
      text-align: center;
      top: 0;
      width: 2.75em;
    }

    .select-wrapper select::-ms-expand {
      display: none;
    }

  input[type="text"],
  input[type="password"],
  input[type="email"],
  select {
    height: 2.75em;
  }

  textarea {
    padding: 0.75em 1em;
  }

  input[type="checkbox"],
  input[type="radio"] {
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    appearance: none;
    display: block;
    float: left;
    margin-right: -2em;
    opacity: 0;
    width: 1em;
    z-index: -1;
  }

    input[type="checkbox"] + label,
    input[type="radio"] + label {
      text-decoration: none;
      cursor: pointer;
      display: inline-block;
      font-size: 1em;
      font-weight: 300;
      padding-left: 2.4em;
      padding-right: 0.75em;
      position: relative;
    }

      input[type="checkbox"] + label:before,
      input[type="radio"] + label:before {
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
        font-family: FontAwesome;
        font-style: normal;
        font-weight: normal;
        text-transform: none !important;
      }

      input[type="checkbox"] + label:before,
      input[type="radio"] + label:before {
        border-radius: 4px;
        border: solid 1px;
        content: '';
        display: inline-block;
        height: 1.65em;
        left: 0;
        line-height: 1.58125em;
        position: absolute;
        text-align: center;
        top: 0;
        width: 1.65em;
      }

    input[type="checkbox"]:checked + label:before,
    input[type="radio"]:checked + label:before {
      content: '\f00c';
    }

  input[type="checkbox"] + label:before {
    border-radius: 4px;
  }

  input[type="radio"] + label:before {
    border-radius: 100%;
  }

  ::-webkit-input-placeholder {
    opacity: 1.0;
  }

  :-moz-placeholder {
    opacity: 1.0;
  }

  ::-moz-placeholder {
    opacity: 1.0;
  }

  :-ms-input-placeholder {
    opacity: 1.0;
  }

  .formerize-placeholder {
    opacity: 1.0;
  }

  label {
    color: #fff;
  }

  input[type="text"],
  input[type="password"],
  input[type="email"],
  select,
  textarea {
    background: rgba(144, 144, 144, 0.075);
    border-color: rgba(144, 144, 144, 0.25);
  }

    input[type="text"]:focus,
    input[type="password"]:focus,
    input[type="email"]:focus,
    select:focus,
    textarea:focus {
      border-color: #F64747;
      box-shadow: 0 0 0 1px #F64747;
    }

  .select-wrapper:before {
    color: rgba(144, 144, 144, 0.25);
  }

  input[type="checkbox"] + label,
  input[type="radio"] + label {
    color: rgba(255, 255, 255, 0.75);
  }

    input[type="checkbox"] + label:before,
    input[type="radio"] + label:before {
      background: rgba(144, 144, 144, 0.075);
      border-color: rgba(144, 144, 144, 0.25);
    }

  input[type="checkbox"]:checked + label:before,
  input[type="radio"]:checked + label:before {
    background-color: #F64747;
    border-color: #F64747;
    color: #ffffff;
  }

  input[type="checkbox"]:focus + label:before,
  input[type="radio"]:focus + label:before {
    border-color: #F64747;
    box-shadow: 0 0 0 1px #F64747;
  }

  ::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.5) !important;
  }

  :-moz-placeholder {
    color: rgba(255, 255, 255, 0.5) !important;
  }

  ::-moz-placeholder {
    color: rgba(255, 255, 255, 0.5) !important;
  }

  :-ms-input-placeholder {
    color: rgba(255, 255, 255, 0.5) !important;
  }

  .formerize-placeholder {
    color: rgba(255, 255, 255, 0.5) !important;
  }

/* Icon */

  .icon {
    text-decoration: none;
    border-bottom: none;
    position: relative;
  }

    .icon:before {
      -moz-osx-font-smoothing: grayscale;
      -webkit-font-smoothing: antialiased;
      font-family: FontAwesome;
      font-style: normal;
      font-weight: normal;
      text-transform: none !important;
    }

    .icon > .label {
      display: none;
    }

/* Button */

  input[type="submit"],
  input[type="reset"],
  input[type="button"],
  button,
  .button {
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    appearance: none;
    -moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    -ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    border-radius: 4px;
    border: 0;
    cursor: pointer;
    display: inline-block;
    font-weight: 600;
    height: 2.85em;
    line-height: 2.95em;
    padding: 0 1.5em;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    text-transform: uppercase;
  }

    input[type="submit"].icon,
    input[type="reset"].icon,
    input[type="button"].icon,
    button.icon,
    .button.icon {
      padding-left: 1.35em;
    }

      input[type="submit"].icon:before,
      input[type="reset"].icon:before,
      input[type="button"].icon:before,
      button.icon:before,
      .button.icon:before {
        margin-right: 0.5em;
      }

    input[type="submit"].fit,
    input[type="reset"].fit,
    input[type="button"].fit,
    button.fit,
    .button.fit {
      display: block;
      margin: 0 0 1em 0;
      width: 100%;
    }

    input[type="submit"].small,
    input[type="reset"].small,
    input[type="button"].small,
    button.small,
    .button.small {
      font-size: 0.8em;
    }

    input[type="submit"].big,
    input[type="reset"].big,
    input[type="button"].big,
    button.big,
    .button.big {
      font-size: 1.35em;
    }

    input[type="submit"].disabled, input[type="submit"]:disabled,
    input[type="reset"].disabled,
    input[type="reset"]:disabled,
    input[type="button"].disabled,
    input[type="button"]:disabled,
    button.disabled,
    button:disabled,
    .button.disabled,
    .button:disabled {
      -moz-pointer-events: none;
      -webkit-pointer-events: none;
      -ms-pointer-events: none;
      pointer-events: none;
      opacity: 0.25;
    }

    @media screen and (max-width: 480px) {

      input[type="submit"],
      input[type="reset"],
      input[type="button"],
      button,
      .button {
        padding: 0;
      }

    }

  input[type="submit"],
  input[type="reset"],
  input[type="button"],
  button,
  .button {
    background-color: #5a5a5a;
    color: #ffffff !important;
  }

    input[type="submit"]:hover,
    input[type="reset"]:hover,
    input[type="button"]:hover,
    button:hover,
    .button:hover {
      background-color: #676767;
    }

    input[type="submit"]:active,
    input[type="reset"]:active,
    input[type="button"]:active,
    button:active,
    .button:active {
      background-color: #4d4d4d;
    }

    input[type="submit"].alt,
    input[type="reset"].alt,
    input[type="button"].alt,
    button.alt,
    .button.alt {
      background-color: transparent;
      box-shadow: inset 0 0 0 2px rgba(144, 144, 144, 0.25);
      color: #fff !important;
    }

      input[type="submit"].alt:hover,
      input[type="reset"].alt:hover,
      input[type="button"].alt:hover,
      button.alt:hover,
      .button.alt:hover {
        background-color: rgba(144, 144, 144, 0.075);
      }

      input[type="submit"].alt:active,
      input[type="reset"].alt:active,
      input[type="button"].alt:active,
      button.alt:active,
      .button.alt:active {
        background-color: rgba(144, 144, 144, 0.2);
      }

      input[type="submit"].alt.icon:before,
      input[type="reset"].alt.icon:before,
      input[type="button"].alt.icon:before,
      button.alt.icon:before,
      .button.alt.icon:before {
        color: rgba(255, 255, 255, 0.5);
      }

    input[type="submit"].special,
    input[type="reset"].special,
    input[type="button"].special,
    button.special,
    .button.special {
      background-color: #F64747;
      color: #ffffff !important;
    }

      input[type="submit"].special:hover,
      input[type="reset"].special:hover,
      input[type="button"].special:hover,
      button.special:hover,
      .button.special:hover {
        background-color: #f75f5f;
      }

      input[type="submit"].special:active,
      input[type="reset"].special:active,
      input[type="button"].special:active,
      button.special:active,
      .button.special:active {
        background-color: #f52f2f;
      }
.overlay { position: absolute;  z-index: 9999;}
/*.overlay:target { visibility: visible; opacity: 1;}*/

#popup1 { font-family:poppins;}
#popup1 .popup {margin: 0px auto; padding: 50px 20px;background: #5d5244; border-radius: 0px; height: 260px; width:690px; position: relative;    text-align: center;top: 50% !important;   position: fixed !important;-moz-transform: translateY(-50%);    -webkit-transform: translateY(-50%);  -o-transform: translateY(-50%);   -ms-transform: translateY(-50%);    transform: translateY(-50%);right: 0px; left: 0;}
#popup1 .popup h2 { margin-top: 0; color: #5d5244;}
#popup1 .popup .close {position: absolute; top: 0px;  right: 0px; transition: all 200ms; font-size: 30px;  font-weight: normal; text-decoration: none;  text-align: center;    background: #333;  border-radius: 0;  cursor: pointer;  float: right;  padding: 0;  color: #fff;  margin-top: 0;  margin-right: 0;  height: 40px;  width: 40px;    line-height: 45px; z-index: -1;}
#popup1 .popup .close:hover {color: #06D85F;}
#popup1 .popup .content {max-height: 30%;overflow: auto;}
#popup1 .newletter-title h2 {   font-size: 24px;  text-transform: uppercase;  color: #000;  font-weight: 700;  letter-spacing: 3px;  margin: 0 0 15px;}
#popup1 .box-content label {  font-weight: 400;  max-width: 560px;  display: inline-block;  margin-bottom: 5px;  font-size: 14px; line-height: 26px;}
.newletter-popup {  background: #fff;  top: 50% !important;   position: fixed !important; padding: 0;  text-align: center;  -moz-transform: translateY(-50%);    -webkit-transform: translateY(-50%);  -o-transform: translateY(-50%);   -ms-transform: translateY(-50%);    transform: translateY(-50%);}
#popup1 #frm_subscribe #subscribe_pemail {    background: #EBEBEB none repeat scroll 0% 0%;    border: medium none;    height: 40px;    width: 65%;    margin: 20px 0;    padding-left: 15px;}
#popup1 #frm_subscribe a {   cursor: pointer;   border: none;    background: #333;    padding: 3px 25px;    text-transform: uppercase;   font-size: 14px;    color: #fff;
    font-weight: 600;    line-height: 34px;    display: inline-block;    border-radius: 0;    letter-spacing: 2px;}
#popup1 .box-content .subscribe-bottom {   margin-top: 20px;}
#popup1 .box-content .subscribe-bottom #newsletter_popup_dont_show_again {    display: inline-block;    margin: 0;    vertical-align: middle;    margin-top: -1px;}
#popup1 .box-content .subscribe-bottom label {    margin: 0;    font-weight: 400;    max-width: 650px;    display: inline-block;    margin-bottom: 5px;    font-size: 12px;}


#popup{
    display:none;
    position:absolute;
    top:150px;
    width:50%;
    left:25%;
}
#popupClose{
  background: transparent;
    z-index: -1;
    cursor:pointer;
    text-decoration:underline;
}